[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Vue JS - Mastering Web Apps
[access "refs/*"]
	owner = group user/gustavorangel121
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gustavorangel121
	label-Verified = -1..+1 group user/gustavorangel121
	push = group user/gustavorangel121
	read = group user/gustavorangel121
	rebase = group user/gustavorangel121
	removeReviewer = group user/gustavorangel121
	submit = group user/gustavorangel121
[access "refs/heads/*"]
	create = group user/gustavorangel121
	push = +force group user/gustavorangel121
	pushMerge = group user/gustavorangel121
	read = group user/gustavorangel121
[access "refs/tags/*"]
	push = group user/gustavorangel121
	push = +force group user/gustavorangel121
